@import "/src/style/vars.scss";


.MainBlock {
	position: relative;
	background-image: url("/src/img/background/main-block-bg.jpg");
	padding: 30px 0;
	overflow: hidden;
	min-height: 720px;

	&__body {
		position: relative;
		z-index: 1;
		margin-top: 110px;
		margin-bottom: 165px;
	}

	&__title {
		text-align: center;
		max-width: 1120px;
		margin: 0 auto;
		br {
			display: none;
		}
		._hlight {
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				left: -11px;
				right: -11px;
				top: -13px;
				bottom: -13px;
				z-index: -1;
				background-color: $border-color;
			}
		}
		._underlined {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -5px;
				display: block;
				height: 9px;
				background-image: url("/src/img/decorations/underline.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100%;
			}
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		column-gap: 20px;
		width: 370px;
		margin: 45px auto 0;
	}

	&__cursor-blob {
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 2320px;
		height: 2320px;
		background-image: url("/src/img/background/main-block-cursor-blob.webp");
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
		will-change: transform, opacity;
		&._active {
			opacity: 1;
		}
	}

	@media (max-width: 1200px) {
		&__title {
			font-size: 80px;
			margin: 0 80px;
		}
	}
	@media (max-width: 1100px) {
		&__title {
			._hlight::before {
				display: none;
			}
		}
	}
	@media (max-width: 992px) {
		min-height: auto;
		padding: 0;
		&__body {
			margin-top: 190px;
			margin-bottom: 130px;
		}
		&__title {
			font-size: 66px;
		}
	}
	@media (max-width: 768px) {
		&__body {
			margin-bottom: 100px;
		}
		&__title {
			font-size: 50px;
			margin: 0 40px;
		}
	}
	@media (max-width: 480px) {
		&__body {
			margin-top: 165px;
			margin-bottom: 70px;
		}
		&__title {
			font-size: 40px;
			margin: 0 20px;
		}
		&__buttons {
			width: 280px;
			flex-direction: column;
			row-gap: 15px;
			margin-left: auto;
			margin-right: auto;
			.Button {
				width: 100%;
			}
		}
	}
	@media (max-width: 380px) {
		&__body {
			margin-bottom: 64px;
		}
		&__title {
			font-size: 31px;
			text-align: left;
			margin: 0;
			br {
				display: block;
			}
		}
		&__buttons {
			width: 100%;
			margin-top: 30px;
		}
	}
}