---
import Header from "@components/Header/Header.astro";
import "./MainBlock.scss";
---

<div class="MainBlock block">
	<div class="_container">
		<Header />
		<div class="MainBlock__body">
			<h1 class="MainBlock__title">
				Borrow up to 90% LTV with zero liquidation risk
			</h1>
			
		</div>
	</div>
</div>