---
import Header from "@components/Header/Header.astro";
import "./MainBlock.scss";
---

<div class="MainBlock block">
	<div class="_container">
		<Header />
		<div class="MainBlock__body">
			<h1 class="MainBlock__title">
				Borrow up to <br />90% LTV with <span class="_hlight"><span class="_underlined">zero</span> <br />liquidation risk</span>
			</h1>
			
		</div>
		<div class="MainBlock__cursor-blob" />
	</div>
</div>

<script>
	import "./MainBlock.js";
</script>