@import "/src/style/vars.scss";


.MainBlock {
	position: relative;
	background-image: url("/src/img/background/main-block-bg.jpg");
	padding: 30px 0;
	overflow: hidden;
	min-height: 720px;

	&__body {
		position: relative;
		z-index: 1;
		margin-top: 110px;
		margin-bottom: 165px;
	}

	&__title {
		text-align: center;
		max-width: 1120px;
		margin: 0 auto;
	}

	&__cursor-blob {
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 2320px;
		height: 2320px;
		background-image: url("/src/img/background/main-block-cursor-blob.webp");
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
		will-change: transform, opacity;
		&._active {
			opacity: 1;
		}
	}
}