/* Title font */
@font-face {
	font-family: 'Nohemi';
	src: url('./Nohemi/Nohemi-Regular.ttf') format('ttf'),
		url('./Nohemi/Nohemi-Regular.otf') format('otf'),
		url('./Nohemi/Nohemi-Regular.woff') format('woff');
}

/* Common font */
@font-face {
	font-family: 'Unageo';
	src: url('./Unageo/Unageo-Regular.ttf') format('ttf');
}
@font-face {
	font-family: 'Unageo';
	src: url('./Unageo/Unageo-Medium.ttf') format('ttf');
	font-weight: 500;
}