/* Electrolize */
@font-face {
	font-family: 'Electrolize';
	src: url('./Electrolize/Electrolize-Regular.eot') format('eot'),
		url('./Electrolize/Electrolize-Regular.ttf') format('ttf'),
		url('./Electrolize/Electrolize-Regular.woff') format('woff'),
		url('./Electrolize/Electrolize-Regular.woff2') format('woff2');
}

/* Gantari */
@font-face {
	font-family: 'Gantari';
	src: url('./Gantari/Gantari-Regular.eot') format('eot'),
		url('./Gantari/Gantari-Regular.ttf') format('ttf'),
		url('./Gantari/Gantari-Regular.woff') format('woff'),
		url('./Gantari/Gantari-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Gantari';
	src: url('./Gantari/Gantari-Medium.eot') format('eot'),
		url('./Gantari/Gantari-Medium.ttf') format('ttf'),
		url('./Gantari/Gantari-Medium.woff') format('woff'),
		url('./Gantari/Gantari-Medium.woff2') format('woff2');
	font-weight: 500;
}