@import "/src/style/vars.scss";
@import "/node_modules/@glidejs/glide/src/assets/sass/glide.core";


.ProtocolBlock {
	background-color: $violet-2;

	&__table {
		position: relative;
		display: grid;
		grid-template-columns: 3fr 16fr;
		gap: 30px;
		font-size: 22px;

		&-nav {
			opacity: 1;
			white-space: nowrap;
			transition: opacity .5s ease;
			margin-top: auto;
			&-item {
				position: relative;
				display: flex;
				align-items: center;
				column-gap: 10px;
				color: $lgrey;
				padding: 30px 0;
				&::after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					display: block;
					height: 1px;
					background-color: $border-color;
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
			}
			&._hidden {
				opacity: 0;
			}
		}

		&-cards {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 30px;
		}

		&-card {
			&-title {
				display: flex;
				height: 55px;
				align-items: center;
				justify-content: center;
				column-gap: 5px;
				background-color: $violet-1;
				border: $border;
				border-radius: 20px;
				margin-bottom: 15px;
			}
			&-content {
				background-color: $violet-1;
				border: $border;
				border-radius: 30px;
			}
			&-value {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				column-gap: 10px;
				padding: 31px;
				&::after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					display: block;
					height: 1px;
					background-color: $border-color;
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
				._hlight {
					background-color: $violet;
					border-radius: 5px;
					padding: 0 6px;
				}
			}

			&._dimmed {
				color: $lgrey;
				._hlight {
					background-color: $violet-accent-2;
				}
			}
		}
	}

	&__glide {
		display: none;
		.glide__slides {
			flex-direction: row;
		}
		li {
			padding-left: 0;
			&::before {
				display: none;
			}
		}
	}

	@media (max-width: 992px) {
		&__table {
			display: block;
			max-width: 500px;
			margin: 0 auto;
			&-nav {
				position: absolute;
				z-index: 2;
				bottom: 0;
				left: 30px;
				&-item {
					&::after {
						display: none;
					}
				}
			}
			&-card {
				&-value {
					justify-content: flex-end;
				}
			}
		}
		&__glide {
			display: block;
		}
	}
}