@use "/node_modules/@glidejs/glide/src/assets/sass/glide.core" as glide;
@use "/src/style/vars" as *;


.ProtocolBlock {
	background-color: $violet-2;

	&__table {
		position: relative;
		display: grid;
		grid-template-columns: 3fr 16fr;
		gap: 30px;

		&-nav {
			opacity: 1;
			white-space: nowrap;
			transition: opacity .4s ease;
			pointer-events: none;
			margin-top: auto;
			&-item {
				position: relative;
				display: flex;
				align-items: center;
				column-gap: 10px;
				color: $lgrey;
				padding: 30px 0;
				&::after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					display: block;
					height: 1px;
					background-color: $border-color;
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
			}
			&._hidden {
				opacity: 0;
				transition-duration: 0.1s;
			}
		}

		&-cards {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 30px;
		}

		&-card {
			&-title {
				display: flex;
				height: 55px;
				align-items: center;
				justify-content: center;
				column-gap: 5px;
				background-color: $violet-1;
				border: $border;
				border-radius: 20px;
				margin-bottom: 15px;
			}
			&-content {
				background-color: $violet-1;
				border: $border;
				border-radius: 30px;
			}
			&-value {
				position: relative;
				._inner-wrapper {
					display: flex;
					justify-content: center;
					align-items: center;
					column-gap: 10px;
				}
				padding: 31px;
				&::after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					display: block;
					height: 1px;
					background-color: $border-color;
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
				._hlight {
					background-color: $violet;
					border-radius: 5px;
					padding: 0 6px;
				}
			}

			&._dimmed {
				color: $lgrey;
				._hlight {
					background-color: $violet-accent-2;
				}
			}
		}
	}

	&__glide {
		display: none;
		.glide__slides {
			flex-direction: row;
		}
		li {
			padding-left: 0;
			&::before {
				display: none;
			}
		}
	}

	@media (max-width: 992px) {
		&__table {
			display: block;
			max-width: 536px;
			margin: 0 auto;
			&-nav {
				position: absolute;
				z-index: 2;
				bottom: 28px;
				left: 30px;
				&-item {
					&::after {
						display: none;
					}
				}
			}
			&-card {
				&-value {
					._inner-wrapper {
						width: 121px;
						margin-left: auto;
					}
					&::after {
						left: 30px;
						right: 30px;
					}
				}
			}
		}
		&__glide {
			display: block;
			.glide__bullets {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 6px;
				margin-top: 20px;
			}
			.glide__bullet {
				width: 8px;
				height: 8px;
				background-color: $violet-accent-2;
				border-radius: 50%;
				transition: all .2s ease;
				&--active {
					background-color: $violet;
					transform: scale(1.33);
				}
			}
		}
	}

	@media (max-width: 576px) {
		&__table {
			max-width: 380px;
			&-nav, &-card-content {
				font-size: 15px;
			}
			&-card-content {
				border-radius: 20px;
			}
			&-nav {
				left: 16px;
				bottom: 21px;
				&-item {
					padding: 11px 0;
				}
			}
			&-card {
				&-value {
					padding: 16px;
					._inner-wrapper {
						width: 88px;
						column-gap: 5px;
						img {
							width: 46px;
						}
					}
					&::after {
						left: 16px;
						right: 16px;
					}
				}
			}
		}
		&__glide {
			.glide__bullets {
				column-gap: 4px;
				margin-top: 15px;
			}
			.glide__bullet {
				width: 6px;
				height: 6px;
			}
		}
	}
}