---
import "./Footer.scss";
---

<div class="Footer">
	<div class="_container">
		<div class="Footer__slogans">
			<div class="Footer__slogan">
				<div class="Footer__slogan-text">
					High LTV
				</div>
				<div class="Footer__slogan-icon">

				</div>
			</div>
			<div class="Footer__slogan">
				<div class="Footer__slogan-text">
					Low Drama
				</div>
				<div class="Footer__slogan-icon">

				</div>
			</div>
			<div class="Footer__slogan">
				<div class="Footer__slogan-text">
					Zero Liquidation
				</div>
				<div class="Footer__slogan-icon">

				</div>
			</div>
		</div>
		<div class="Footer__copyright">
			© 2025 NoRekt Protocol. All rights reserved.
		</div>
		<div class="Footer_socials">
			<a
				class="Footer__social"
				href="#!"
			>

			</a>
			<a
				class="Footer__social"
				href="#!"
			>

			</a>
			<a
				class="Footer__social"
				href="#!"
			>

			</a>
			<a
				class="Footer__social"
				href="#!"
			>

			</a>
			<a
				class="Footer__social"
				href="#!"
			>

			</a>
		</div>
	</div>
</div>