@use "/src/style/vars" as *;


.Footer {
	padding: 50px 0 40px;
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 40px;
	}
	
	&__slogans {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		white-space: nowrap;
	}
	&__slogan {
		display: flex;
		column-gap: 8px;
		align-items: flex-end;
		font-size: 80px;
		font-family: $title-font;
		&-icon {
			border-radius: 50%;
			transform: translateY(-0.23em);
		}
		br {
			display: none;
		}
	}

	&__copyright {
		grid-row: 2/3;
		font-size: 15px;
		color: $lgrey;
		margin-top: 90px;
	}

	&__socials {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		column-gap: 40px;
		row-gap: 30px;
	}
	&__social {
		border-radius: 50%;
		&:nth-child(even) {
			transform: translateY(50%) translateY(15px);
		}
	}

	@media (max-width: 1300px) {
		&__slogan {
			font-size: 70px;
		}
		&__socials {
			column-gap: 30px;
			row-gap: 25px;
		}
		&__social {
			img {
				width: 150px;
			}
		}
	}

	@media (max-width: 1200px) {
		&__slogan {
			font-size: 60px;
		}
		&__copyright {
			margin-top: 40px;
		}
		&__socials {
			max-width: 265px;
			column-gap: 25px;
			row-gap: 20px;
		}
		&__social {
			img {
				width: 120px;
			}
		}
	}

	@media (max-width: 992px) {
		&__content {
			flex-direction: column;
		}

		&__copyright {
			margin-top: 30px;
		}
		
		&__socials {
			max-width: none;
			align-self: center;
			gap: 20px;
			margin-top: 40px;
		}
		&__social {
			img {
				width: 110px;
			}
			&:nth-child(even) {
				transform: none;
			}
		}
	}
	
	@media (max-width: 768px) {
		&__content {
			align-items: flex-start;
		}
		&__slogan {
			font-size: 50px;
		}
		&__social {
			img {
				width: 80px;
			}
		}
	}

	@media (max-width: 576px) {
		&__slogans {
			white-space: normal;
		}
		&__slogan {
			br {
				display: block;
			}
			&:last-child &-icon {
				position: absolute;
				left: 2.55em;
			}
			.underlined::before {
				display: none;
			}
		}
		
		&__socials {
			flex-wrap: nowrap;
			gap: 15px;
		}
		&__social {
			img {
				width: 70px;
			}
		}
	}

	@media (max-width: 480px) {
		padding-bottom: 32px;
		&__slogan {
			font-size: 32px;
			column-gap: 5px;
			&-icon {
				img {
					width: 20px;
				}
			}
			br {
				display: none;
			}
			&:last-child &-icon {
				position: static;
			}
			.underlined::before {
				display: block;
			}
		}

		&__copyright {
			margin-top: 20px;
		}
		
		&__socials {
			align-self: flex-start;
			column-gap: 8px;
		}
		&__social {
			img {
				width: 49px;
			}
		}
	}

	@media (max-width: 380px) {
		&__slogan {
			br {
				display: block;
			}
			&:last-child &-icon {
				position: absolute;
				left: 2.75em;
			}
			.underlined::before {
				display: none;
			}
		}
	}
}