@import '/src/style/vars.scss';


.Header {
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	background-color: $border-color;
	border: $border;
	border-radius: 20px;
	padding: 12px 15px;

	&__logo {
		width: max-content;
		font-family: $title-font;
		font-size: 25px;
		font-weight: 400;
		margin-left: 25px;
	}

	&__burger-button {
		display: none;
		width: 40px;
		height: 40px;
		background-image: url("/src/img/icons/icon-burger.svg");
		background-position: center;
		transition: background-image .2s ease;
		&:checked {
			background-image: url("/src/img/icons/icon-burger-active.svg");
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		column-gap: 100px;
		white-space: nowrap;
		&-link {
			transition: color .2s ease;
			@media (hover: hover) and (pointer: fine) {
				&:hover, &:focus-visible {
					color: $lgrey;
				}
			}
		}
	}

	&__label {
		display: flex;
		height: auto;
		width: max-content;
		align-items: center;
		column-gap: 10px;
		border-radius: 15px;
		background: linear-gradient(97deg, rgba(255, 255, 255, 0.10) 4.64%, rgba(255, 255, 255, 0.05) 97.35%);
		padding: 8px 10px 8px 8px;
		margin-left: auto;
	}

	@media (max-width: 1200px) {
		&__nav {
			column-gap: 60px;
		}
	}

	@media (max-width: 992px) {
		display: flex;
		justify-content: space-between;
		&__burger-button {
			display: block;
		}

		&__burger-button ~ * {
			display: none;
		}

		&__burger-button:checkd ~ * {
			display: block;
		}
	}
}