

<header class="Header">
	<a href="#" class="Header__logo">
		NoRekt
	</a>
	<nav class="Header__nav">
		<div class="Header__nav-links">
			<a href="#how_it_works" class="Header__nav-link">How it works</a>
			<a href="#faq" class="Header__nav-link">FAQ</a>
			<a href="#get_started" class="Header__nav-link">Get started</a>
		</div>
		<div class="Header__nav-label">
			<div class="Header__nav-label-icon">

			</div>
			<div class="Header__nav-label-text">
				Powered by Sharwa.Finance
			</div>
		</div>
	</nav>
</header>