@import '/src/style/vars.scss';


.Header {
	position: relative;
	z-index: 100;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 2fr;
	background-color: $border-color;
	border: $border;
	border-radius: 20px;
	padding: 12px 15px;

	&__logo {
		width: max-content;
		font-family: $title-font;
		font-size: 25px;
		font-weight: 400;
		margin-left: 25px;
	}

	&__burger {
		&-button {
			display: none;
			width: 40px;
			height: 40px;
			background-image: url("/src/img/icons/icon-burger.svg");
			background-position: center;
			transition: background-image .2s ease;
			margin-left: auto;
			&:checked {
				background-image: url("/src/img/icons/icon-burger-active.svg");
			}
		}
		&-content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			column-gap: 30px;
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		column-gap: 100px;
		white-space: nowrap;
		&-link {
			display: block;
			transition: color .2s ease;
			@media (hover: hover) and (pointer: fine) {
				&:hover, &:focus-visible {
					color: $lgrey;
				}
			}
		}
	}

	&__label {
		display: flex;
		height: auto;
		width: max-content;
		align-items: center;
		column-gap: 10px;
		border-radius: 15px;
		background: linear-gradient(97deg, rgba(255, 255, 255, 0.10) 4.64%, rgba(255, 255, 255, 0.05) 97.35%);
		padding: 8px 10px 8px 8px;
		margin-left: auto;
	}

	&__backdrop {
		content: "";
		position: fixed;
		z-index: -1;
		left: -100vw;
		top: -100vh;
		right: -100vw;
		bottom: -100vh;
		display: block;
		background-color: $violet-2;
		opacity: 0;
		transition: opacity .2s ease;
	}
	&._open &__backdrop {
		opacity: 0.7;
	}

	@media (max-width: 1200px) {
		&__nav {
			column-gap: 60px;
		}
	}

	@media (max-width: 992px) {
		position: fixed;
		// background-color: #361f63;
		backdrop-filter: blur(8px);
		top: 20px;
		left: 20px;
		right: 20px;
		&__burger {
			&-button {
				display: block;
				z-index: 10;
			}
			&-button:checked + &-content {
				display: block;
				transform: scale(1);
				opacity: 1;
			}
			&-content {
				display: block;
				position: absolute;
				left: -1px;
				right: -1px;
				top: -1px;
				background: $violet-1;
				border: $border;
				border-radius: 15px;
				transform: scale(0.5);
				opacity: 0;
				transition: transform .2s ease;
				&._scale-out {
					animation: scale-out 0.2s forwards;
				}
				@keyframes scale-out {
					0% {
						opacity: 1;
						transform: scale(1);
					}
					100% {
						display: none;
						opacity: 0;
						transform: scale(0.5);
					}
				}
			}
		}
		&__nav {
			display: flex;
			max-width: max-content;
			flex-direction: column;
			text-align: right;
			padding: 88px 15px 0;
			margin-left: auto;
			&-link {
				width: 100%;
				padding: 7px 0 7px 10px;
			}
		}
		&__label {
			margin: 18px 15px 15px auto;
		}
	}

	@media (max-width: 380px) {
		&__label {
			width: 100%;
			border-top: $border;
			border-bottom: $border;
			margin: 0;
			margin-top: 25px;
		}
	}
}