---
import { Image } from "astro:assets";
import "./Header.scss";
import icon_lightning from "@img/icons/icon-lightning.svg";
---


<header class="Header">
	<a href="#" class="Header__logo">
		NoRekt
	</a>
	<input class="Header__burger-button" type="checkbox" />
	<div class="Header__burger-content">
		<nav class="Header__nav">
			<a href="#how_it_works" class="Header__nav-link">How it works</a>
			<a href="#faq" class="Header__nav-link">FAQ</a>
			<a href="#get_started" class="Header__nav-link">Get started</a>
		</nav>
		<a
			class="Header__label anim_glare"
			href="https://sharwa.finance"
			target="_blank"
			rel="noreferrer"
		>
			<div class="Header__label-icon">
				<Image src={icon_lightning} alt="Lightning" />
			</div>
			<div class="Header__label-text">
				Powered by Sharwa.Finance
			</div>
		</a>
	</div>
	<div class="Header__backdrop" />
</header>

<script>
	import "./Header.js";
</script>