@import '/src/style/vars.scss';


.anim {
	&_glare {
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			width: 100px;
			height: 100%;
			background-image: linear-gradient(
				120deg,
				rgba(255, 255, 255, 0) 30%,
				rgba(255, 255, 255, 0.8),
				rgba(255, 255, 255, 0) 70%
			);
			top: 0;
			left: -200px;
			animation: glare 4s infinite linear;
		}
	}
}

@keyframes glare {
	0% {
		left: -200px;
	}
	20% {
		left: 200%;
	}
	100% {
		left: 200%;
	}
}