@import '/src/style/vars.scss';


.anim {
	&_glare {
		position: relative;
		display: block;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			width: 100px;
			height: 100%;
			background-image: linear-gradient(
				120deg,
				rgba(255, 255, 255, 0) 30%,
				rgba(255, 255, 255, 0.8),
				rgba(255, 255, 255, 0) 70%
			);
			top: 0;
			left: -100px;
			animation: glare 2s infinite linear;
		}
	}
}

@keyframes glare {
	0% {
		left: -100px;
	}
	20% {
		left: 100%;
	}
	100% {
		left: 100%;
	}
}