@use "/src/style/vars.scss" as *;


.anim {
	&_glare {
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			width: 100px;
			height: 100%;
			background-image: linear-gradient(
				120deg,
				rgba(255, 255, 255, 0) 30%,
				rgba(255, 255, 255, 0.8),
				rgba(255, 255, 255, 0) 70%
			);
			top: 0;
			left: -200px;
			animation: glare 4s infinite linear;
		}
	}

	&_outline {
		position: relative;
		&__lines {
			position: absolute;
			inset: 0;
			mix-blend-mode: hard-light;
			pointer-events: none;
			z-index: 1;
			transform: scaleY(.95) translateZ(0);

			& > div {
				position: absolute;
				inset: 0;

				&:last-child {
					transform: rotate(180deg);
				}

				svg {
					display: block;
					position: absolute;
					inset: 0;
					overflow: visible;
					fill: none;
					stroke-width: 1;
					stroke: #c9e9ff;
					width: 100%;
					height: 100%;
					stroke-dasharray: 2 10;
					stroke-dashoffset: 14;
					opacity: 0;
				}

				svg {
					&:nth-child(1) {
						stroke: #f8fcff;
					}
					&:nth-child(2) {
						stroke-width: 6px;
						filter: blur(20px);
					}
					&:nth-child(3) {
						stroke-width: 5px;
						filter: blur(6px);
					}
					&:nth-child(4) {
						stroke-width: 10px;
						filter: blur(56px);
					}
				}
			}
		}

		&._start {
			svg {
				animation: stroke 1s linear;
			}
		}
	}
}

@keyframes glare {
	20% {
		left: -200px;
	}
	40% {
		left: 200%;
	}
	100% {
		left: 200%;
	}
}

@keyframes stroke {
	30%,
	55% {
		opacity: 0.75;
	}
	100% {
		stroke-dashoffset: 4;
		opacity: 0;
	}
}