._container {
	max-width: $container-width;
	margin: 0 auto;

	@media (max-width: calc($container-width + 40px)) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.block {
	padding: 110px 0 120px;
	h2 {
		text-align: center;
	}
	@media (max-width: 480px) {
		padding: 60px 0 70px;
	}
}