@use "./vars" as *;

._container {
	max-width: $container-width;
	margin: 0 auto;

	@media (max-width: calc($container-width + 40px)) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.block {
	padding: 110px 0 120px;
	._anim-1, ._anim-2 {
		opacity: 0;
	}
	h2 {
		text-align: center;
	}
	@media (max-width: 480px) {
		padding: 60px 0 70px;
	}
}

.underlined {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -5px;
		display: block;
		height: 9px;
		background-image: url("/src/img/decorations/underline.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
}