@use "sass:color";
@import "./_fonts/_fonts.scss";

/* Colors */
$white: #fff;
$white-dimmed: #ccc;
$violet: #8E3ECD;
$violet-accent-2: #3C1B68;
$blue: #5069DD;
$violet-1: #1D1446;
$violet-2: #130B3A;
$lgrey: #9A94B8;
$grey: #3A4466;
$dgrey: #384263;
$bg-color: #130B3A;


/* Other */
$container-width: 1440px;
$title-font: "Nohemi", sans-serif;
$common-font: "Unageo", serif;
$font-size: 15px;
$font-weight: 500;
$line-height: 120%;
$border-color: rgba(172, 169, 187, 0.08);
$border: 1px solid $border-color;
$focus-outline: -webkit-focus-ring-color auto 1px;
$shadow: 3px 0 15px rgba(6, 13, 33, 0.4);


/* Mixins */
@mixin buttonLike($padding: 5px 10px, $border-radius: 5px) {
	background-color: $blue-1;
	border-radius: $border-radius;
	border: $border;
	padding: $padding;
}

@mixin alphaColored($color, $alpha: 0.1, $isBgTerminated: false, $isBorderTerminated: false, $isColorTerminated: false) {
	@if $isColorTerminated != true {
		color: $color;
	}
	@if $isBgTerminated != true {
		background-color: color.adjust($color, $alpha: $alpha - 1);
	}
	@if $isBorderTerminated != true {
		border: 1px solid transparent;
		border-color: color.adjust($color, $alpha: $alpha - 1);
	}
}
@mixin alphaColoredBg($color, $alpha: 0.1) {
	@include alphaColored($color, $alpha, false, true, true);
}
@mixin alphaColoredBorder($color, $alpha: 0.1) {
	@include alphaColored($color, $alpha, true, false, true);
}