@import "/src/style/vars.scss";


.PerksBlock {
	background-color: $violet-2;
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 30px;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
		background-color: $violet-1;
		border: $border;
		border-radius: 30px;
		overflow: hidden;
		padding: 40px;
		&:first-child {
			grid-row: 1/3;
		}
		&-pic {
			position: relative;
			z-index: 1;
			.anim_glare {
				position: absolute;
				left: 478px;
				top: 276px;
				display: inline-block;
				border-radius: 20px;
			}
		}
		&-lottie {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) translateY(7px);
			width: 500px;
			height: 500px;
			opacity: 0.1;
			z-index: 0;
		}
		&-info {
			align-self: flex-start;
		}
		&-text {
			color: $lgrey;
		}
	}

	@media (max-width: 1440px) {
		&__items {
			grid-template-columns: 1fr;
		}
		&__item {
			width: 712px;
			margin: 0 auto;
		}
	}

	@media (max-width: 768px) {
		&__items {
			gap: 24px;
		}
		&__item {
			width: 440px;
			padding: 30px;
			&-pic {
				img {
					width: min-content;
				}
				.anim_glare {
					left: auto;
					top: auto;
					right: -4px;
					bottom: 22px;
				}
			}
			&-text {
				font-size: 15px;
			}
			&-lottie {
				width: 400px;
				height: 400px;
				transform: translate(-50%, -50%) translateX(12px);
			}
		}
	}
	@media (max-width: 480px) {
		&__items {
			gap: 18px;
		}
		&__item {
			width: 100%;
			padding: 20px;
		}
	}
}