@import "/src/style/vars.scss";


.FaqBlock {
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
	}

	&__card {
		position: relative;
		width: calc(33% - 20px);
		min-width: 400px;
		min-height: 450px;
		text-align: left;

		&-front, &-back {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			display: flex;
			flex-direction: column;
			background-color: $violet-2;
			border: $border;
			border-radius: 30px;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			transform-style: preserve-3d;
			transition: ease-in-out 600ms;
			padding: 35px 40px;
			&::before {
				content: "";
				display: block;
				flex-shrink: 0;
				width: 60px;
				height: 60px;
				background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2260%22%20viewBox%3D%220%200%2060%2060%22%20fill%3D%22none%22%3E%0A%20%20%3Cg%20clip-path%3D%22url%28%23clip0_239_2408%29%22%3E%0A%20%20%20%20%3Crect%20width%3D%2260%22%20height%3D%2260%22%20rx%3D%2215%22%20fill%3D%22%23212367%22%2F%3E%0A%20%20%20%20%3Ccircle%20opacity%3D%220.5%22%20cx%3D%2229.5%22%20cy%3D%2229.5%22%20r%3D%2217.5%22%20fill%3D%22%235069DD%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M29.5%2012C39.1652%2012%2047%2019.8348%2047%2029.5C47%2039.1652%2039.1652%2047%2029.5%2047C19.8348%2047%2012%2039.1652%2012%2029.5C12%2019.8348%2019.8348%2012%2029.5%2012ZM29.5%2036.5C29.0359%2036.5%2028.5908%2036.6844%2028.2626%2037.0126C27.9344%2037.3407%2027.75%2037.7859%2027.75%2038.25C27.75%2038.7141%2027.9344%2039.1593%2028.2626%2039.4874C28.5908%2039.8156%2029.0359%2040%2029.5%2040C29.9641%2040%2030.4092%2039.8156%2030.7374%2039.4874C31.0656%2039.1593%2031.25%2038.7141%2031.25%2038.25C31.25%2037.7859%2031.0656%2037.3407%2030.7374%2037.0126C30.4092%2036.6844%2029.9641%2036.5%2029.5%2036.5ZM29.5%2019.875C27.8175%2019.875%2026.204%2020.5434%2025.0143%2021.733C23.8246%2022.9227%2023.1562%2024.5363%2023.1562%2026.2188C23.1562%2026.6829%2023.3406%2027.128%2023.6688%2027.4562C23.997%2027.7844%2024.4421%2027.9688%2024.9062%2027.9688C25.3704%2027.9688%2025.8155%2027.7844%2026.1437%2027.4562C26.4719%2027.128%2026.6562%2026.6829%2026.6562%2026.2188C26.6568%2025.7026%2026.7979%2025.1963%2027.0643%2024.7542C27.3307%2024.312%2027.7125%2023.9508%2028.1686%2023.7091C28.6247%2023.4674%2029.138%2023.3545%2029.6535%2023.3823C30.1689%2023.4102%2030.667%2023.5778%2031.0944%2023.8672C31.5219%2024.1566%2031.8624%2024.5569%2032.0797%2025.0252C32.2969%2025.4934%2032.3826%2026.012%2032.3275%2026.5252C32.2725%2027.0385%2032.0788%2027.5271%2031.7672%2027.9386C31.4556%2028.3501%2031.0378%2028.6691%2030.5588%2028.8612C29.3757%2029.3337%2027.75%2030.5448%2027.75%2032.5625V33C27.75%2033.4641%2027.9344%2033.9092%2028.2626%2034.2374C28.5908%2034.5656%2029.0359%2034.75%2029.5%2034.75C29.9641%2034.75%2030.4092%2034.5656%2030.7374%2034.2374C31.0656%2033.9092%2031.25%2033.4641%2031.25%2033C31.25%2032.573%2031.3375%2032.3595%2031.7067%2032.1775L31.859%2032.1075C33.2254%2031.5578%2034.3581%2030.5499%2035.0628%2029.2566C35.7675%2027.9633%2036.0004%2026.4651%2035.7215%2025.0189C35.4426%2023.5727%2034.6693%2022.2686%2033.5342%2021.3301C32.3991%2020.3916%2030.9728%2019.8771%2029.5%2019.875Z%22%20fill%3D%22%235069DD%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3CclipPath%20id%3D%22clip0_239_2408%22%3E%0A%20%20%20%20%20%20%3Crect%20width%3D%2260%22%20height%3D%2260%22%20fill%3D%22white%22%2F%3E%0A%20%20%20%20%3C%2FclipPath%3E%0A%20%20%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
				background-repeat: no-repeat;
			}
		}
		&-question, &-answer {
			margin-top: auto;
		}
		&-answer {
			color: $lgrey;
		}
		
		&:hover &-front, &:focus-visible &-front {
			transform: rotateY(180deg);
		}

		&-back {
			transform: rotateY(-180deg);
			&::before {
				background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2260%22%20viewBox%3D%220%200%2060%2060%22%20fill%3D%22none%22%3E%0A%20%20%3Cg%20clip-path%3D%22url%28%23clip0_732_218%29%22%3E%0A%20%20%20%20%3Crect%20width%3D%2260%22%20height%3D%2260%22%20rx%3D%2215%22%20fill%3D%22%23212367%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M30.5%2013.0014C20.8356%2013.0014%2013%2019.9501%2013%2028.5235C13%2032.883%2015.0323%2036.8102%2018.2938%2039.63C17.5823%2043.7589%2012.985%2045.4399%2013.2991%2046.576C17.4102%2048.2844%2025.5517%2044.3188%2026.7864%2043.704C27.9801%2043.9318%2029.2298%2044.0471%2030.5%2044.0471C40.1644%2044.0471%2048%2037.097%2048%2028.5235C48%2019.9501%2040.163%2013.0014%2030.5%2013.0014Z%22%20fill%3D%22%235069DD%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3CclipPath%20id%3D%22clip0_732_218%22%3E%0A%20%20%20%20%20%20%3Crect%20width%3D%2260%22%20height%3D%2260%22%20fill%3D%22white%22%2F%3E%0A%20%20%20%20%3C%2FclipPath%3E%0A%20%20%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
			}
		}
		&:hover &-back, &:focus-visible &-back {
			transform: rotateY(0deg);
		}
	}

	@media (max-width: 1200px) {
		&__cards {
		}
	}
}