@use "/src/style/vars" as *;


.HowBlock {
	&__steps {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__step {
		width: 460px;
		background: $violet-2;
		border-radius: 30px;
		border: $border;
		padding: 40px;
		&:nth-child(1) {
			z-index: 3;
		}
		&:nth-child(2) {
			z-index: 2;
		}
		&:nth-child(3) {
			z-index: 1;
		}

		&-pic {
			position: relative;
			max-width: max-content;
			margin-bottom: 30px;
			margin: 0 auto 30px;
			picture img {
				width: 100%;
			}
			.anim_glare {
				position: absolute;
				left: 315px;
				top: 136px;
				display: inline-block;
				border-radius: 30px;
				transform: rotate(1deg);
			}
		}

		&-lottie {
			position: absolute;
			transform: translate(-50%, -50%);
			&._arrow {
				left: 190px;
				top: 105px;
				width: 180px;
				height: 180px;
			}
			&._lock {
				width: 14px;
				height: 16px;
				left: 307px;
				top: 196px;
			}
		}

		&-nav {
			display: inline-flex;
			align-items: center;
			column-gap: 6px;
			font-size: 15px;
			background-color: $green-2;
			border-radius: 5px;
			padding: 6px;
			margin-bottom: 20px;
			&-circles {
				display: flex;
				align-items: center;
				column-gap: 4px;
			}
			&-circle {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: $green;
				opacity: 0.6;
				&._active {
					width: 8px;
					height: 8px;
					opacity: 1;
				}
			}
		}

		&-text {
			color: $lgrey;
		}
	}

	@media (max-width: 1480px) {
		&__step {
			width: 440px;
			&-pic {
				.anim_glare {
					transform: translate(-23px, -9px);
				}
			}
			&-lottie {
				&._arrow {
					width: 160px;
					height: 160px;
					left: 179px;
					top: 100px;
				}
				&._lock {
					left: 291px;
					top: 185px;
				}
			}
		}
	}

	@media (max-width: 1439px) {
		&__step {
			width: 460px;
			&-pic {
				.anim_glare {
					transform: none;
				}
			}
			&-lottie {
				&._arrow {
					left: 190px;
					top: 105px;
					width: 180px;
					height: 180px;
				}
				&._lock {
					left: 307px;
					top: 196px;
				}
			}
		}
	}

	@media (max-width: 768px) {
		&__step {
			padding: 30px;
			&-pic {
				margin-bottom: 25px;
				.anim_glare {
					top: 102px;
					left: 175px;
				}
			}
			&-lottie {
				&._arrow {
					left: 120px;
					top: 108px;
				}
				&._lock {
					left: 210px;
					top: 168px;
				}
			}
			&-text {
				font-size: 15px;
			}
		}
	}

	@media (max-width: 500px) {
		&__step {
			width: 100%;
		}
	}

	@media (max-width: 480px) {
		&__steps {
			gap: 20px;
		}
		&__step {
			border-radius: 20px;
			padding: 20px;
			&-pic {
				width: max-content;
			}
		}
	}
}