---
import "@style/globals.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/no-rekt_landing/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>NoRekt landing</title>
	</head>

	<body>
		<slot />
	</body>

	<script
		src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.js"
	/>
</html>